RewriteEngine On
RewriteCond %{http_host} ^www.inside360.tv [nc]
RewriteRule ^(.*)$ http://inside360.tv/$1 [r=301,nc]
RewriteRule ^index\.html$ / [R=301,L]
ErrorDocument 404 /404.html

Header add Access-Control-Allow-Origin "*"
Header add Access-Control-Allow-Methods "GET,POST,OPTIONS,DELETE,PUT"
Header add Access-Control-Allow-Headers "Content-Type"

Redirect /intro http://inside360.tv/showreel.html
Redirect /laureates http://inside360.tv/projects/laureates-intro.html

<FilesMatch "(projects/fanmeile.html)|(fanmeile-euro2016.html)">
AuthName "Sie brauchen ein Passwort"
AuthType Basic
AuthUserFile /kunden/337804_80333/webseiten/inside360/wordpress/assets/.htpasswd
require valid-user
</FilesMatch>

<FilesMatch "(projects/atb-bmwi8.html)|(antennebayern-bmwi8.html)">
AuthName "Sie brauchen ein Passwort"
AuthType Basic
AuthUserFile /kunden/337804_80333/webseiten/inside360/wordpress/assets/.htpasswd
require valid-user
</FilesMatch>