RewriteEngine On
CheckCaseOnly On
CheckSpelling On
RewriteCond %{http_host} ^www.inside360.tv [NC]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ http://inside360.tv/$1 [r=301,NC]
RewriteRule ^index\.html$ / [R=301,L,NC]
ErrorDocument 404 /404.html

Redirect /intro http://inside360.tv/showreel.html
Redirect /laureates http://inside360.tv/projects/laureates-intro.html
Redirect /hlcruises http://inside360.tv/projects/hlcruises.html
Redirect /hlcruises360 http://inside360.tv/projects/hlcruises.html
Redirect /zm-i.html http://inside360.tv/projects/zm-i.html
Redirect /hs-fresenius.html http://inside360.tv/projects/hs-fresenius.html
Redirect /press$ http://inside360.tv/press.html
Redirect /contact http://inside360.tv/contact.html
Redirect /telefonica http://inside360.tv/telefonica.html
Redirect /gottesdienst http://inside360.tv/gottesdienst.html
Redirect /Gottesdienst http://inside360.tv/gottesdienst.html

<FilesMatch "(projects/fanmeile.html)|(fanmeile-euro2016.html)">
AuthName "Sie brauchen ein Passwort"
AuthType Basic
AuthUserFile /kunden/337804_80333/webseiten/inside360/wordpress/assets/.htpasswd
require valid-user
</FilesMatch>

<FilesMatch "(projects/atb-bmwi8.html)|(antennebayern-bmwi8.html)">
AuthName "Sie brauchen ein Passwort"
AuthType Basic
AuthUserFile /kunden/337804_80333/webseiten/inside360/wordpress/assets/.htpasswd
require valid-user
</FilesMatch>