<!-- Scripts -->
<script src="js/three.min.js"></script>
<script src="js/DeviceOrientationController.js"></script>
<!--<script src="js/DeviceOrientationControls.js"></script>-->
<!--<script src="js/CSS3DRenderer.js"></script>-->
<!--<script src="js/Projector.js"></script>
<script src="js/CanvasRenderer.js"></script>-->

{% for js in page.customjs %}
<script>
    var material = new THREE.MeshBasicMaterial( {
        map: new THREE.TextureLoader().load( '{{ js }}' )
    } );
</script>
{% endfor %}
