---
layout: default
---

{% if page.image_path != blank %}
<style>
	#main > header {
		background-image: -moz-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("{{ page.image_path }}");}
</style>
{% endif %}
<article id="main">

  <header>
    <h1>{{ page.title }}</h1>
    <h2>{{ page.subline }}</h2>
  </header>

  <section class="wrapper style5">
    <div class="inner">

      <!--{% for project in site.projects %}
          <img src="{{ project.image_path }}" alt="{{ project.title }}"/>
      {% endfor %}-->

      {{ content }}
    </div>
  </section>

</article>
